* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

.page {
    width:  100%;
    position: relative;
}

.left1, .left2, .right1, .right2 {
    position: absolute;
}

.left2 {
    animation: cloud_run 6s infinite;
}

.left1 {
    top: 140px;
    animation: cloud_run1 7s infinite;
    z-index: 10;
}

.right1 {
    top: 70px;
    animation: right_run 7s infinite;
    z-index: 9;
}

.right2 {
    top: 210px;
    animation: right_run1 6s infinite;
    z-index: 11;
}

@keyframes cloud_run {
    0% {
        left: -20%;
        opacity: 0;
        filter: saturate(3);
    }
    
    35% {
        opacity: 1;
    }

    100% {
        left: 100%;
    }
}

@keyframes cloud_run1 {
    0% {
        left: -20%;
        opacity: 0;
        filter: saturate(3);
    }
    
    35% {
        opacity: 1;
    }

    100% {
        left: 100%;
    }
}

@keyframes right_run {
    0% {
        right: -20%;
        opacity: 0;
        filter: saturate(3);
    }
    
    35% {
        opacity: 1;
    }

    100% {
        right: 100%;
    }
}

@keyframes right_run1 {
    0% {
        right: -20%;
        opacity: 0;
        filter: saturate(3);
    }
    
    35% {
        opacity: 1;
    }

    100% {
        right: 100%;
    }
}